@using System.Web.Optimization
@using System.Web.UI.WebControls

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    
        <!-- Stylesheets -->
        @Styles.Render("~/Content/themes/simple/css");
        
    </head>

<body>
    <div id="main">
        
        <!-- Header -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">OBA <span class="logo_colour">Constituency #30</span></a></h1>
                    <h2>Newsletters, Information, FAQs and More...</h2>
                </div>
            </div>
        </div>
        
        <!-- Navigation -->
        <div id="menuBar">
            <ul id="menu">
                <li>@Html.ActionLink("Posts", "Posts")</li>
                <li>@Html.ActionLink("FAQs", "Faqs")</li>
                <li>@Html.ActionLink("Contact", "Contact")</li>
                <li>@Html.ActionLink("About Consituency #30", "About")</li>
            </ul>
        </div>
        
        <!-- Site Content -->
        <div id="site_content">
            @Html.Partial("_Search")
            @RenderBody()
            
            @* Call the child action to render the sidebar *@
            @Html.Action("Sidebars")
        </div>
        
        <!-- Footer -->
        <div id="footer">
            Copyright © @DateTime.Now.Year One Bermuda Alliance. All Rights Reserved 
            
            @Scripts.Render("~/jquery", "~/jqueryval", "~/jqueryunobtrusiveval", "~/js")   
        </div>
    </div>

</body>
</html>
