@using Oba30
@model Oba30.Infrastructure.Objects.Post

<div class="post">
    <div class="post-meta">
        <div class="row">
            
            <!-- Heading -->
            <div class="post-title">
                <h2>@Html.PostLink(Model)</h2>
            </div>
            
            <div class="row">
                
                <!-- Category -->
                <div class="post-category">
                    <span>Category: </span>@Html.CategoryLink(Model.Category)
                </div>
            
                <!-- Tags -->
                <div class="post-tags">
                    <span>Tags: </span>@Helpers.Tags(Html, Model.Tags)
                </div>
            
                <!-- DISPLAY THE COMMENTS COUNT -->
                  <div class="no-of-comments">
                    <a href="@string.Format("{0}#disqus_thread", Model.Href(Url))" data-disqus-identifier="@Model.Href(Url)"></a>
                  </div>  

                <!-- Posted Date -->
                <div class="posted-date">
                    @Model.PostedOn.ToConfigLocalTime()
                </div>

            </div>

        </div>

        <!-- Short Description -->
        <div class="post-body">
            @Html.Raw(Model.ShortDescription)
        </div>
        
        <div class="post-foot">
            @Html.ActionLink("continue...", "Posts", "Blog",
            new
            {
                Year = Model.PostedOn.Year,
                Month = Model.PostedOn.Month,
                Day = Model.PostedOn.Day,
                Title = Model.UrlSlug
            },
            new { Title = "continue..."}
            )
        </div>
        
    </div>
</div>